<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>扫描植物</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <img id="previewImg" [src]="img" [ngStyle]="{height: (deviceHeight * 0.70) + 'px', visibility: (isShowImg ? 'visible' : 'hidden')}"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <div class="cancel-wrapper">
              <button class="cancel" (click)="cancel()">
                  <ion-icon name="close"></ion-icon>
              </button>
          </div>
      </ion-col>
      <ion-col>
        <div class="trigger-wrapper">
            <button class="trigger" (click)="submit()">
                <ion-icon name="camera"> </ion-icon>
            </button>
        </div>
      </ion-col>
      <ion-col>
          <div class="submit-wrapper">
              <button class="submit" (click)="submit()">
                  <ion-icon name="checkmark"></ion-icon>
              </button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
