
<div class="bottom-bar">
  <!-- <ion-row>
    <ion-col> -->
      <ion-segment color="primary" checked>
        
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-segment-button id="b1" (ionSelect)="goto($event)">
          <ion-label>首页</ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-segment-button>
        </ion-col>
        <ion-col>
           <ion-segment-button id="b2"  (ionSelect)="goto($event)">
          <ion-label>问询</ion-label>
          <ion-icon name="help"></ion-icon>
        </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button id="b3" (ionSelect)="goto($event)">
          <ion-label>拍照</ion-label>
          <ion-icon name="camera"></ion-icon>
        </ion-segment-button>
        </ion-col>
        <ion-col>
           <ion-segment-button id="b4" (ionSelect)="goto($event)">
          <ion-label>资源</ion-label>
          <ion-icon name="folder"></ion-icon>
        </ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button id="b5" (ionSelect)="goto($event)">
          <ion-label>我的</ion-label>
          <ion-icon name="person"></ion-icon>
        </ion-segment-button>
        </ion-col>
      </ion-row>
    </ion-grid>
      </ion-segment>
      
    <!-- </ion-col>
  </ion-row> -->
</div>

