<ion-header>
  <ion-toolbar color="primary">
    <ion-title>选择您要诊断的农作物</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="padding-top:20px;">
    <ion-row>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">苹果</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">葡萄</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">柑橘</label>
      </ion-col>
      
    </ion-row>



    <ion-row>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">花生</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">番茄</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">黄瓜</label>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">茄子</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">辣椒</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">马铃薯</label>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">大蒜</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">小麦</label>
      </ion-col>
      <ion-col style="text-align:center;">
        <ion-avatar style="margin: 0 auto;">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
        </ion-avatar>
        <label style="margin-top:10px;display:block;">玉米</label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
