<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>问询</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card padding>
    <div class="article-item">
   <div class="article-header">
     <ion-avatar style="margin-right:10px;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
      </ion-avatar>

        <div class="header-text">
        <b>作者</b>
        <span style="color:#999;font-size:12px;">北京市昌平区第</span>
        </div>
      
   </div>
      <div class="article-content">
        <h2>苹果修剪的原则</h2>
        <p>
          斯蒂芬斯蒂芬是胜多负少防守打法sad发斯蒂芬斯蒂芬sad是的撒旦水电费盛世嫡妃是的撒旦是大是大非是的撒旦防守打法思达高科四大金刚大公司都
        </p>
        <div class="article-image">
          <img>
          <img>
          <img>
        </div>
        <div class="article-footer" style="text-align:right;margin-top:20px;padding-right:10px;">
          <span style="margin-bottom:30px;height:30px">2019-07-07</span>
         <div> </div>
        <ion-icon name="text"></ion-icon>
        <label style="margin-right:20px;">0</label>
        <ion-icon name="thumbs-up"></ion-icon>
        <label>0</label>

        </div>
      </div>
 </div>
  </ion-card>


 
      


  <ion-fab>
    <ion-fab-button>
    
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
