ion-content{
  .article-item{
    .article-header{
      width: 100%;
      height: 30px;
      ion-avatar{
        width:23px;
        height:23px;
        display: block;
        float:left;
      }
      .header-text{
        height: 30px;
        line-height: 28px;
        b{margin-right: 12px}
        font-size: 15px;
        display: block;
        float:left;
      }
    }
    .article-content{
      h2{
        font-size: 15px;
      }
      p{
        font-size: 13px;
      }
      clear: both;
      .article-image{
        display: flex;
        img{
          padding:10px;
        }
      }
    }
  }
}