<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>个人主页</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <section class="header-wrapper">
    <ion-avatar style="margin:10px auto;">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
     </ion-avatar>
     <b>{{ name }}</b>
     <p> {{ email }}</p>
  </section>
  
  <ion-card>
    <ion-card-header>
      <ion-list>
        <ion-item><ion-label><h2>学院</h2></ion-label> <span>大数据</span></ion-item>
        <ion-item><ion-label><h2>系</h2></ion-label><span>人工智能</span></ion-item>
        <ion-item><ion-label><h2>班级</h2></ion-label><span>1609b</span></ion-item>
        <ion-item><ion-label><h2>电话</h2></ion-label><span>13333333333</span></ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>

  <div id="myGraph" style="width:600px; height: 200px; zoom:0.8; margin: 20px auto;"></div>
</ion-content>
