<ion-header>
  <ion-toolbar color="primary">

  
   <ion-buttons slot="start">
      <ion-back-button text="返回"> </ion-back-button>
   </ion-buttons>

    <ion-title> </ion-title>
  
    <ion-searchbar slot="end" placeholder="搜索"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title>实体识别</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      我爱吃苹果....
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>词性标注</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      我 / 爱 / 吃 / 苹果
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>结果</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
        <ion-label><h2>Item 1</h2>
              <div>Content goes here</div>
            </ion-label></ion-item>


            <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
        <ion-label><h2>Item 1</h2>
              <div>Content goes here</div>
            </ion-label></ion-item>


            <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
        <ion-label><h2>Item 1</h2>
              <div>Content goes here</div>
            </ion-label></ion-item>
       
      </ion-list>

    </ion-card-content>
  </ion-card>
  <div class="bottom-wrapper">
   <app-buttom-bar></app-buttom-bar>
   </div>
</ion-content>
 
